.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 20px;
  height: 100vh;
}

.errorh1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  display: inline-block;
}

.fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tipDescription {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  margin-top: 10px;
}
